
__pycache__/actions.cpython-39.pyc
__pycache__/level_field.cpython-39.pyc
license.txt
__pycache__/loading_screen.cpython-39.pyc
__pycache__/drawing.cpython-39.pyc
__pycache__/cube.cpython-39.pyc
__pycache__/antipirate.cpython-39.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/GeometryPython.iml
